.backgroundimage{
  background-image: url(softball.jpg);
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
}

.personalpic{
  width: 50%;
  max-width:400px;
}

.personalpic img{
  max-width:100%;
}

.stattable {
  background: rgba(54, 54, 54, 0.4);
  border: 1px solid #ddd;
  
}

.stattable table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: green;
  overflow-x:auto;
}

h1{
  color: black;
  text-align: center;
}

th, td {
  text-align: left;
  padding: 8px;
}
